<h1><%= @category.title %></h1>
<hr>
<% @comments.each do |comment| %>
<p> User <b style="color:#0489B1"><%= comment.user.nickname %></b> say</p>
<%= comment.text %>
<hr>
<% end %>

<%= form_for :postcomment, url: category_categorycomments_path(category_id: @category.id) do |f| %>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<p><%= f.label "Write comment" %></p>
<%= f.text_area :text, cols: 20, rows: 5 %><br />

<p><%= f.submit "Send"%></p>

<% end %>


