<h1><%= @category.title %></h1>
<hr>
<%= image_tag(@category.image_url, height: '400', width: '700') %></br>

<%= form_for :postcomment, url: category_categorycomments_path(category_id: @category.id) do |f| %>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<p><%= f.label "Write comment" %></p>
<%= f.text_area :text, cols: 20, rows: 5 %><br />

<p><%= f.submit "Send"%></p>

<% end %>


